<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Change Event {{ event?.title }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <h2>Title</h2>
          </ion-label>
          <ion-input name="title" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Order</h2>
          </ion-label>
          <ion-input name="order" type="number" [(ngModel)]="event.order"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Duration</h2>
          </ion-label>
          <ion-input type="number" name="duration" [(ngModel)]="event.duration"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="!event.title || !event.duration || !event.order" padding margin-top (click)="save()">Save</ion-button>
        <ion-button expand="block" color="danger" padding margin-top (click)="deleteEvent()">Delete Event</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>